

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MarvelFont', sans-serif;
}

body {
  background-color: #1b1b32;
  color: #d0d0d5;
}
@font-face {
  font-family: 'MarvelFont';
  src: url('../../assets/fonts/MarvelRegular-Dj83.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'MarvelFont', sans-serif;
  font-size: 200px;
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  background: url(../../assets/img/marvelrandom2.webp) no-repeat;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px #d0d0d5;
}

.myTeam-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search-container input {
  width: 300px;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  background-color: #2a2a40;
  border: none;
  border-radius: 10px;
}

.search-input:focus {
  border: 1px solid #0a0a23;
}

input[type="text"] {
  color: #d0d0d5;
}

span {
  margin-left: 10px;
  font-size: 16px;
  color: #d0d0d5;
  transform: translateX(-40px);
}


.heroes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}
.card {
  width: 325px;
  background-color: #2a2a40;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.6s ease;
}

.card:hover {
  transform: translateY(-20px);
}

.card h2 {
  color: #ffcc00;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  margin-top: 20px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 20px;
}

.card-content p {
  color: #d0d0d5;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-content button {
  background-color: #0a0a23;
  color: #d0d0d5;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.infinite{
  width: 100%;
  height: 50px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #f0a500;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.volver-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  padding: 0 10px;
  font-size: 25px;
  background-color: #2a2a40;
  border: none;
  border-radius: 10px;
  color: #d0d0d5;
  i {
    color: #ffcc00;
    margin-left: 10px;
  }
}

.volver-btn:hover {
  background-color: #0a0a23;
}



