/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'ngx-toastr/toastr';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'ngx-toastr/toastr-bs5-alert';

body {
  background-color: #1b1b32;
  color: #d0d0d5;
}

@font-face {
  font-family: 'MarvelFont';
  src: url('app/assets/fonts/MarvelRegular-Dj83.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logo-btn {
  background-color: transparent;
  border: none;
}

.title {
  font-family: 'MarvelFont', sans-serif;
  font-size: 200px;
  text-transform: uppercase;
  background: url('app/assets/img/marvelrandom2.webp') no-repeat;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-position: center;
  background-size: contain;
  -webkit-text-stroke: 1px #d0d0d5;
}

.pagination {
  --bs-pagination-bg: transparent;
  --bs-pagination-color: #f0a500;
  --bs-pagination-border-color: transparent;
  --bs-pagination-hover-bg: #1b1b32;
  --bs-pagination-hover-color: #d0d0d5;
  --bs-pagination-active-bg: #1b1b32;
  --bs-pagination-active-color: #d0d0d5;
  --bs-pagination-disabled-color: #f0a500;
  --bs-pagination-focus-bg: transparent;
  --bs-pagination-disabled-bg: transparent;
  --bs-pagination-active-border-color: transparent;
  --bs-pagination-disabled-border-color: transparent;
  --bs-pagination-focus-color: #f0a500;
  --bs-pagination-hover-border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-right: 20px;
}

.page-link{
  border-radius: 20%;
}

.page-link:focus {
  box-shadow: none;
}
.page-item:not(:first-child) .page-link {
  margin-left: calc(var(--bs-border-width)* -5);
}

@media (max-width: 768px) {
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding-right: 16px;
  }
}